body {
  font-family: 'Sora', sans-serif;
  background-color: #dbe0e0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 2vw;
  margin-left: 2vw;
}

h1 {
  font-size: 6vh;
  color: rgb(0, 0, 0);
  margin: 0px 0 6px 0;
  justify-content: center;
}

h1:hover {
  transform: rotate(-1deg) scale(1.09);
  color:rgba(3, 67, 51, 0.943);
}

.container {
  background-color: rgb(23, 146, 142);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 8px 3px rgba(2, 18, 22, 0.751);
  border: 4px solid rgb(0, 0, 0); 
  flex-direction: column;
  padding: 1vh 1% 0px 1%
}

.daily-container{
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  background-color: rgb(160, 0, 56);
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgba(6, 12, 42, 0.607);
  border: 4px solid rgb(0, 0, 0); 
}

.daily-container:hover {
  transform: rotate(3deg) scale(1.09);
}


.daily-container h2{
  font-size: 5vh;
  margin:0;
  color:white;
}

.picture-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  flex-wrap:wrap;
}

.picture-container img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  box-shadow: 5px 3px 2px rgba(5, 9, 29, 0.751);
  border: 3px solid rgb(0, 0, 0); 
}
.picture-container img:hover {
  transform: rotate(-3deg);
  box-shadow: 7px 5px 4px rgba(5, 9, 29, 0.9); 
}

.last-container{
  margin: 3vh;
  padding: 1vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
}

.song-container {
  display: flex;
}

.song-box {
  background-color: rgb(39, 77, 83);
  padding: 1vh;
  width: 100%;
  display: flex;
  border-radius: 4px;
  box-shadow: 5px 5px 4px rgba(5, 9, 29, 0.751);
  border: 4px solid rgb(0, 0, 0);
  margin: 5px;
  flex-direction: column;
  align-items: center;
}

.song-box:hover {
  background-color: rgb(9, 60, 60); 
  transform: scale(1.05);
  box-shadow: 7px 7px 6px rgba(5, 9, 29, 0.9);
}

.song-box h2{
  font-size: 2.5vh;
  margin: 10px 0px 0px 0px;
  color: white;
}
.song-box p{
  font-size: 2vh;
  color: white;
}
.song-container img{
  width: 100px;
  height: 100px;
  border-radius: 4px;
  border: 4px solid rgb(0, 0, 0); 
}

.big-bucket{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-right: 10px;
}
.bucket-title h2{
  text-align: center;
  font-size: 4vh;
  margin: 0;
  color: white;
}
.bucket-title{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(43, 40, 130);
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgba(6, 12, 42, 0.607);
  border: 4px solid rgb(0, 0, 0); 
}
.bucket-title:hover {
  transform: rotate(3deg);
}
.bucketlist{
  background-color: rgb(222, 204, 168);
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgba(5, 9, 29, 0.751);
  border: 4px solid rgb(0, 0, 0); 
  padding: 15px;
  margin-top: 12px;
  margin-bottom: 10px;
  height: auto;
}
.bucketlist:hover {
  transform: rotate(2deg) scale(1.3);
}
.bucketlist h2{
  font-size: 5vh;
  margin: 0;
}

.bucketlist p{
  margin: 5px;
  font-weight: 500;
  font-size: 14px;
}

.random-image{
  margin-left: 10px;
  width: 70px;
  height: 200px;
  align-self: center;
}
.random-image:hover {
  transform: rotate(5deg) scale(1.5);

}

